.container {
  position: relative;
  width: 1000px;
  height: 1000px;
}

.quater {
  width: 100px;
  height: 100px;
}

.quater:first-child {
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 1;
  background-color: red;
}

.quater:nth-child(2) {
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: blue;
  z-index: 2;
}

.quater:last-child {
  top: 100px;
  left: 100px;
  position: absolute;
  background-color: green;
  z-index: 1;
}
